<!DOCTYPE html>
<html>
<head>
  <title>Amit Careers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    #banner {
      height: 400px;
      width: 100%;
    }
  </style>
  
</head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Welcome to Amit Careers</h1>
    
      <img class="img-fluid" id="banner" src="https://2e33b9ca-9646-4cde-b206-4324b5ebd328-00-2m2bmzv665oiy.pike.replit.dev/static/career.png" height="320" alt="Header Image">
    
      <h2 class="text-center mt-2 mb-4">About Amit</h2>
    
      <p class="lead"><strong>One</strong> of the cool things about this font generator is that you can choose from more than 20 different styles. That means you can find a unique flair that perfectly fits what you’re trying to say.<br>
  
        <strong>To</strong> use the font generator on a desktop, simply type (or copy/paste) your text into the “Type/paste your text” field, and then select one of the font subsets. Once you click on a subset, you’ll see a drop-down list with previews of each style. Find the one you like, click the “Copy” button on the right, and then right-click or key-shortcut your text anywhere online or offline that allows you to type text.<br>
  
        <strong>For</strong> mobile users on iPhone or Android, it’s even easier. Like desktop, simply type or copy/paste your desired text into the input field, and then choose your subset. Once you decide on the font, click the “Copy” button and the text will automatically save to your clipboard. Then head over to whatever platform you want, paste it in, and blow people’s minds with your fancy text.</p>
  
    <h2 class="text-center mt-2 mb-4">About Amit Careers</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore/p>

    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      
      <div>
        {% for job in jobs %}
         {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      
      <div class="text-center">
    <button class="btn btn-outline-primary">Contact Us</button>
    <p class="mt-4">
      Copyright 24, Amit Careers
    </p>
      </div>
    </div>
  </body>
</html>